body {
    background-color: beige;
}

header {
    border: 1px solid black;
    padding: 50px;
}

nav {
    display: flex;
    border: 1px solid black;
    padding: 5px, 100px, 20px, auto
}
section {
    border: 1px solid black;
    padding: 50px;
}

article {
    border: 1px solid black;
    padding: 50px;
}